# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\dokumente\JL\Programmieren\Java\ErstiConsoleMMO\IrgendeinConsoleMMO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
